.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-lg)
    width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

//////////COLOR_TEXTO_BOTON_REGRESAR///////////
.barra-avance__boton--regresar span
  color: white !important

//////////Background_Color///////////
.bg-color
  &-1
    background-color: #9CC8FF
  &-2
    background-color: #FFE69B
  &-3
    background-color: #D5D1E2
  &-white
    background-color: white !important
    border: 1px solid $lightest-gray
  &-secundario
    background-color: $color-secundario !important
  &-sintesis
    background-color: #F6F6F6
  
///////Full Width Background///////////////////
.bg-full-width, .bg-full-width-2
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem
.bg-full-width
  background-size: cover
.bg-full-width-2
  background-size: contain !important

///////////FondoImg//////////////////
.bg-fondo
  &-1
    background-image: url("../assets/curso/bg1.svg") !important
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
  //&-2
    background-image: url("../assets/curso/bg2.svg") !important
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
  //&-slider
    background-image: url("../assets/curso/bg-slider.png") !important
    background-position: bottom


